@import "../../node_modules/bootstrap/scss/bootstrap.scss";



.card-custom{
    @extend .card;
    background-color: rgb(79, 158, 53);
}

#color_elegido{
    
    width: 16px;
    border: #000000;
    border-radius: 100%;
}